* {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
*:focus {
  outline: none;
}
body {
  height: 100vh;
  background-color: black;
  color: white;
}
container {
  display: grid;
  grid-template-rows: 0.5fr 4fr 0.5fr;
  /* padding: 1em; */
  background-color: grey;
}
header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: #081622;
  align-content: center;
  justify-content: center;
}
.logo {
  text-decoration: underline;
  font-size: x-large;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-column: 3/11;
  grid-row: 1/3;
}
#logo {
  text-align: center;
}
.nav {
  column-gap: 1.2em;
  grid-column: 2/12;
  grid-row: 3/4;
  display: grid;
  justify-items: center;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
}

.nav-link {
  background-color: #081622;
  padding: 0.5em;
  text-align: center;
  border: 2px solid skyblue;
  border-radius: 25px;
  font-size: large;
  color: white;
}
.nav-link:hover,
.nav-link:focus {
  box-shadow: 0 0 0.7em 0 skyblue;
  text-shadow: 0 0 0.7em 0 skyblue;
  background-color: #0c1f31;
}
main {
  display: grid;
  background-color: #0c1f31;
  align-content: center;
  justify-content: center;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(16, 1fr);
}
.card {
  border-radius: 25px;
  position: relative;
  padding: 1em;
  background-color: rgba(1, 28, 51, 0.774);
  grid-column: 4/14;
  grid-row: 4/14;
  text-shadow: 0 0 0 0.125em white, 0 0 0 0.125em currentColor;
  border: 2px solid rgb(200, 20, 255);
  color: hsl(317 100% 54%);
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  box-shadow: 0 0 1em 0 rgb(200, 20, 255);
  transform-style: preserve-3d;
  transition: 0.5s ease;
}
.card::after {
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  position: absolute;
  grid-column: span 4;
  background-color: rgb(200, 20, 255);
  content: "";
  top: 105%;
  transform: perspective(0.8em) rotatex(12deg);
  height: 3em;
  width: 100%;
  filter: blur(0.8em);
}
.card__front {
  backface-visibility: hidden;
  grid-column: 1/5;
  grid-row: 1/5;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.card__title {
  grid-column: 1/5;
  grid-row: 1/2;
  text-align: center;
}

.card__content {
  grid-column: 1/5;
  grid-row: 2/7;
  align-content: center;
  justify-content: center;
  display: grid;
}
.card__back {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  grid-column: 1/5;
  grid-row: 1/5;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

footer {
  display: grid;
  background-color: #081622;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.contact {
  text-align: center;
  grid-column: 2/10;
  grid-row: 1/4;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.contact__title {
  grid-column: 2/12;
  grid-row: 1/3;
}
.contact__direct {
  grid-column: 2/6;
  grid-row: 4/6;
}
.contact__socials {
  grid-column: 8/12;
  grid-row: 4/6;
}
