 body{
     width: 100%;
     height:100vh;
     background-color:black;
     background-size:100vh;
     color: greenyellow;
     display:grid;
     grid-template-rows: 1fr 2fr 1fr;
     padding:0;
 }
.logo{
    width: 120px;
    height:110px;
    border-radius:50%;  
}
header{
    background-size:cover;
    background-color:rgba(0, 0, 0, 0.767);
    display:grid;
    grid-template-columns: 120px auto;
    grid-template-rows: 2fr 1fr;
    justify-content:center;
    align-content:center;
    gap:1em;
}
.about-me{
    background-color:rgba(58, 58, 58, 0.767);
    background-size:cover;
    border-radius:10%;
    margin:1em;
    padding:1em;
}
.skills-div{
    background-color:rgba(58, 58, 58, 0.767);;
    border-radius:10%;
    margin:1em;
    padding:1em;
    
}
footer{
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/4fdfe8139521263.623108d776a89.png");
    background-size:cover;
}
.nav-links{
    color:greenyellow;
}

a{
    color:aqua;
    margin:.5em;
}
.portfolio-div{
    display:grid;
    grid-template-columns: 1fr 1fr;
}